{%extends 'base.html'%}
{% block vegan_menu %}

<p class="text_center">
    <a href={{url_for('get_vegetables')}}>Vegetables
        <img src="https://www.clipartwiki.com/clipimg/detail/15-151313_fruit-vegetables-clip-art-vegetable-clip-art-fruits.png"
             alt="vegetables_img" class="img_center">
    </a>
</p>
<p></p>
<p class="text_center">
    <a href={{url_for('get_fruits')}}>Fruits
        <img src="https://www.netclipart.com/pp/m/1-16049_clip-art-food-basket-thanksgiving-food-baskets-clipart.png"
             alt="fruits_img" class="img_center">
    </a>
</p>
{% endblock %}
