{%extends 'base.html'%}
{% block vegan_menu %}

<style>.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

</style>

<p style="text-align:center;font-size:300%;">
    <a href="/vegetables">Vegetables
        <img src="https://www.clipartwiki.com/clipimg/detail/15-151313_fruit-vegetables-clip-art-vegetable-clip-art-fruits.png"
             alt="vegetables_img" class="center" style="width:240px;height:186px;border:0;">
    </a>
</p>
<p style="text-align:center;font-size:300%;">
    <a href="/fruits">Fruits
        <img src="https://www.netclipart.com/pp/m/1-16049_clip-art-food-basket-thanksgiving-food-baskets-clipart.png"
             alt="fruits_img" class="center" style="width:240px;height:186px;border:0">
    </a>
</p>
{% endblock %}