{% extends 'base.html' %}


{% block title %} Products {% endblock %}

{% block content_title %} <u> Products </u> {% endblock %}

{% block content %}
<form class="text_center" action="{{ url_for('products.get_all_products') }}" method="get">
  Filter by price:
  <input type="text" name="price">
  <input type="submit" value="Find">
</form>

<form class="text_center" action="{{ url_for('products.get_all_products') }}" method="get">
  Filter by id:
  <input type="text" name="id">
  <input type="submit" value="Find">
</form>
<p><a href="{{ url_for('products.show_add_product_form') }}">Add product</a></p>

    <ul>
    {% if args %}
        <p>{{args}}</p>
        {% if 'price' in args %}
            {% set arg = 'price' %}
            {% endif %}
        {% if 'id' in args %}
            {% set arg = 'id'%}
            {% endif %}
        {% for product in products_all|selectattr(arg, 'eq', args[arg]) %}
        <li><a href="{{ url_for('products.show_product', uu_id=product['id']) }}">{{ product['name'] }}</a></li>
        {% endfor %}
    {% else %}
        <p>no args</p>
        {# in case without argumensts #}
        {% for product in products_all %}
        <li><a href="{{ url_for('products.show_product', uu_id=product['id']) }}">{{ product['name'] }}</a></li>
        {% endfor %}
    {% endif %}

    </ul>

{% endblock %}